{% extends 'base.html' %} {% block content %}
  <div class="container">
    <h1 class="text-4xl border-2 border-gray-400 border-x-0 py-2 my-5 mx-10 md:text-7xl text-center uppercase">Yakub Abdulfatai</h1>
    <div class="bg-white p-5 rounded">
      <img src="/" alt="" />
      <div class="about-me">
        <h1 class="uppercase pt-4 text-2xl">ABOUT ME</h1>
        <p>I am an highly skilled and versatile Software Engineer with a strong focus on Front-End Development, complemented by extensive experience in Back-End and Mobile Development. Adept at creating engaging and responsive user interfaces that enhance user experiences. Proficient in a wide range of technologies, frameworks, and programming languages, enabling the delivery of robust and scalable software solutions.</p>
        <br />
        <p>My recent experience as a front-end developer at Reservation Nigeria limited saw me participate actively to spearhead the development of the company's flagship website, playing a pivotal role in crafting a user-centric and visually compelling interface. I collaborated closely with designers to transform concepts into pixel-perfect web designs that exceeded the management’s expectations. I am a results oriented software engineer who is always ready and available to combine my technical software engineering skills and collaboration skills for the purpose of work excellence, driven at making meaningful contributions to any organization focused on achieving its corporate and business goals.</p>
      </div>
      <div class="skills">
        <h1 class="uppercase pt-4 text-2xl">SKILLS :</h1>
        <ul class="list-disc ml-6">
          <li>
            <span class="fw-bold text-lg">Programming Languages :</span> JavaScript, TypeScript, Python, Java, Dart
          </li>
          <li>
            <span class="fw-bold text-lg">Libraries and Framework :</span> React, Angular, Express JS, Bootstrap & jQuery, Spring and Spring Boot, Tailwind CSS, Django, Flutter
          </li>
          <li>
            <span class="fw-bold text-lg">Database :</span> MongoDB, MySQL, PostgreSQL
          </li>
          <li>
            <span class="fw-bold text-lg">VCS :</span> Github
          </li>
          <li>
            <span class="fw-bold text-lg">Cloud Services :</span> Github Pages
          </li>
          <li>
            <span class="fw-bold text-lg">Project Management / Task Management :</span> ClickUp
          </li>
          <li>
            <span class="fw-bold text-lg">Others :</span> HTML5, CSS3, Rest API
          </li>
        </ul>
      </div>
      <div class="experience">
        <h1 class="uppercase pt-4 text-2xl">EXPERIENCE :</h1>
        <div class="mb-2">
          <h3>
            <span class="text-lg fw-bold">Web Development Faculty (Internship) –</span>
            Aptech Ojodu, Lagos, Nigeria.
          </h3>
          <h3>2023</h3>
        </div>
        <ul class="list-disc ml-6">
          <li>I delivered standard software engineering lectures in core aspects like front-end development (with Angular and JavaScript), Backend development (NodeJs, Express JS, Java, Spring and Spring Boot) to Aptech students according to the standards specified by Aptech Worldwide.</li>
          <li>Organizing lab and practical sessions for Aptech students to ensure a bridge between learning technological concepts and building software in reality.</li>
          <li>Collaborated with Academic head of the center to ensure preparedness and smooth approval of students for Aptech professional certification examinations.</li>
          <li>I Prepared standard lecture materials based on Aptech global standards which were crucial to the mentorship role I played to the students.</li>
        </ul>
      </div>
      <div class="education">
        <h1 class="uppercase pt-4 text-2xl">EDUCATION :</h1>
        <ul class="list-disc ml-6">
          <li>
            <span class="text-lg fw-bold">Advanced Diploma Software Engineering –</span> Aptech Computer Education Center - Ojodu, Lagos, Nigeria.<span class="ml-[20%] mr-[10px] fw-bold">2023</span>
          </li>
          <li>
            <span class="text-lg fw-bold">Senior Secondary Certificate –</span> Government Senior Model College, Owutu, Ikorodu, Lagos.<span class="ml-[30%] mr-[10px] fw-bold">2019</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
