<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Abdulfatai's Blog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
      integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
      crossorigin="anonymous"
    />
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://use.fontawesome.com/releases/v5.1.1/js/all.js"
      integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>

    <style>
      .sticky-top {
        position: sticky;
        top: 0;
        z-index: 1000;
      }

      .sticky-categories {
        position: sticky;
        top: 20%;
      }
    </style>
  </head>
  <!-- bg-slate-800 for darkmode background -->
  <body class="font-[Inter] bg-gray-200 h-screen">
    <header class="bg-white sticky-top">
      <nav
        class="z-0 flex h-[80px] justify-between items-center w-[92%] mx-auto"
      >
        <div>
          <h1 class="w-16 text-lg">The Blog</h1>
        </div>
        <div
          class="nav-links duration-500 md:static absolute bg-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5"
        >
          <ul
            class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8"
          >
            <li>
              <a class="hover:text-gray-500" href="/">Blog</a>
            </li>
            <li>
              <a class="hover:text-gray-500" href="/about/">About</a>
            </li>
            <li>
              <a class="hover:text-gray-500" href="/projects/">Project</a>
            </li>
            <li>
              <a class="hover:text-gray-500" href="/newsletter/">Newsletter</a>
            </li>
          </ul>
        </div>

        <div class="flex items-center gap-6">
          {% if user.is_authenticated %}
          <div class="flex space-x-2">
            <a
              href="/add_post/"
              class="bg-blue-400 text-white px-4 py-2 rounded-full hover:bg-blue-600"
              >Add Post</a
            >
            <a
              href="/logout/"
              class="bg-red-300 text-white px-4 py-2 rounded-full hover:bg-red-500"
              >Logout</a
            >
          </div>
          {% else %}
          <div class="flex space-x-2">
            <a
              href="/register/"
              class="bg-blue-400 text-white px-4 py-2 rounded-full hover:bg-blue-600"
              >Register</a
            >
            <a
              href="/login/"
              class="bg-indigo-300 text-white px-4 py-2 rounded-full hover:bg-indigo-500"
              >Login</a
            >
          </div>
          {% endif %}
          <i
            onclick="onshow()"
            class="fas fa-bars text-3xl cursor-pointer md:hidden"
          ></i>
          <i
            onclick="onhide()"
            class="fas fa-times text-3xl cursor-pointer hidden md:hidden"
          ></i>
        </div>
      </nav>
    </header>

    {% block content %} {% endblock %}
    <div
      class="bottom-10 right-10 animate-bounce fixed rounded drop-shadow z-0"
    >
      <a href="#" id="scroll-up" onclick="scrollToTop()">
        <i class="fas fa-arrow-circle-up fa-2x"></i>
      </a>
    </div>
    <footer class="bg-white shadow dark:bg-gray-900 mt-4 z-0">
      <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
          <a href="/" class="flex items-center mb-4 sm:mb-0 hover:text-black">
            <img src="" class="h-8 mr-3" alt="blog" />
            <span class="self-center text-2xl font-semibold w-12"
              >The Blog</span
            >
          </a>
          <ul
            class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0"
          >
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">Twitter</a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/yakub-abdulfatai-578611261"
                class="mr-4 hover:underline md:mr-6"
                >LinkedIn</a
              >
            </li>
            <li>
              <a
                href="https://github.com/Waptech07"
                class="mr-4 hover:underline md:mr-6"
                >Github</a
              >
            </li>
            <li>
              <a
                href="https://waptech07.github.io/MyPortfolio"
                class="hover:underline"
                >Contact</a
              >
            </li>
          </ul>
        </div>
        <hr class="my-6 border-gray-700 sm:mx-auto lg:my-8" />
        <span class="block text-center text-sm text-gray-500 sm:text-center"
          >© 2023, All Rights Reserved.
          <a
            href="https://waptech07.github.io/MyPortfolio"
            class="hover:underline"
            >Abdulfatai Yakub™</a
          >.</span
        >
      </div>
    </footer>
    <script>
      function scrollToTop() {
        // Scroll to the top of the page with smooth behavior
        window.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      }
      const navLinks = document.querySelector(".nav-links");

      function onshow() {
        navLinks.classList.add("top-[12%]");
        navLinks.classList.remove("top-[-100%]");
      }

      function onhide() {
        navLinks.classList.remove("top-[12%]");
        navLinks.classList.add("top-[-100%]");
      }

      window.addEventListener("scroll", function () {
        scrollFunction();
      });

      function scrollFunction() {
        const scrollUp = document.querySelector("#scroll-up");

        // Show or hide the scroll-up button based on the scroll position
        if (
          document.body.scrollTop > 20 ||
          document.documentElement.scrollTop > 20
        ) {
          scrollUp.style.display = "block";
        } else {
          scrollUp.style.display = "none";
        }
      }

      document.addEventListener("DOMContentLoaded", function () {
        const categoryBox = document.getElementById("category-box");
        const scrollUp = document.querySelector("#scroll-up");
        const initialOffsetTop = categoryBox.offsetTop;

        window.addEventListener("scroll", function () {
          const scrollY = window.scrollY || window.pageYOffset;

          if (scrollY >= initialOffsetTop) {
            categoryBox.style.top = "0";
            scrollUp.classList.remove("hidden");
          } else {
            categoryBox.style.top = initialOffsetTop - scrollY + "px";
            scrollUp.classList.add("hidden");
          }
        });
      });
    </script>
  </body>
</html>
